body {
    background-color: #e0f7fa;
    font-family: Georgia, serif;
}

main {
    padding: 30px;
    column-count: 3;
    column-gap: 30px;
}

h1 {
    column-span: all;
    text-align: center;
    font-size: 35px;
}

p {
    text-align: justify;
    font-size: 16px;
}

img {
    width: 180px;
    float: left;
    margin: 0 15px 10px 0;
}

@media (max-width: 700px) {
    main {
        column-count: 2;
    }
}

@media (max-width: 500px) {
    main {
        column-count: 1;
    }
}