body {
    margin: 0;
    background-color: #f3e5f5;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px;
    background-color: #4a148c;
    color: white;
}

.dashboard {
    display: flex;
    margin-top: 80px;
}

aside {
    width: 200px;
    min-height: 100vh;
    padding: 20px;
    background-color: #ce93d8;
}

aside a {
    display: block;
    margin: 15px;
    color: black;
}

main {
    display: flex;
    gap: 20px;
    padding: 30px;
    flex: 1;
}

.box {
    flex: 1;
    padding: 30px;
    background-color: white;
    box-shadow: 2px 2px 8px gray;
}

@media (max-width: 600px) {
    .dashboard {
        flex-direction: column;
    }

    aside {
        width: auto;
        min-height: auto;
    }

    main {
        flex-direction: column;
    }
}