.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card {
    border: 1px solid black;
    padding: 15px;
    text-align: center;
    transition: 0.3s;
}

.card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.card:hover {
    transform: scale(1.05);
}

@media (max-width: 900px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .gallery {
        grid-template-columns: 1fr;
    }
}