
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


.box1 {
    width: 150px;
    height: 150px;
    background-color: lightblue;
}


.box2 {
    width: 30%;
    height: 10em;
    min-height: 100px;
    max-width: 300px;
    background-color: lightgreen;
}


.box3 {
    width: 20%;
    height: 20vh;
    overflow: auto;
    background-color: lightcoral;
}